<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test thread-count="5" name="TestChrome" parallel="none">

		<parameter name="browserName" value="chrome" />

		<classes>
			<class name="com.qa.amazonin.tests.LandingPageTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="TestFirefox" parallel="none">

		<parameter name="browserName" value="firefox" />

		<classes>
			<class name="com.qa.amazonin.tests.LandingPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
